.avatar_profile{
    text-align: center;
}

#avatar_profile{
    max-width: 220px !important;
    max-height: 220px !important;
    border: 1px dashed black;
}

.avatar_profile input{
    display: none;
}